doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Course Landing Page
    body
        header
            .container
                h1 Lorem ipsum dolor sit.
                p Lorem, ipsum dolor:
                ul
                    li Lorem ipsum dolor sit amet.
                    li Nulla exercitationem corporis tempore id?
                    li Sed distinctio ab in mollitia?
                button  Buy Access
                .header__details 
                    span 44$
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora cumque rerum odit pariatur autem, perferendis iste. Consequatur nihil voluptates placeat.
        
        section.about
            h2 About course
            .about__details
                .about__video
                .about__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga eius porro non veniam quo consequuntur, voluptatibus voluptatem minus commodi possimus.
















    script(src="./assets/js/index.js")