doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Course Landing Page
    body
  
  
        header
            .container
                .header__title
                    h1 CLEAR VALUE FOR YOUR TARGET CUSTOMER
                    p What you’ll learn:
                    ul
                        li First thing that you’ll learn
                        li Second thing that you’ll learn
                        li Third thing that you’ll learn
                    button.btn.btn--light  Buy Access
                .header__details 
                    span 44$
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora cumque rerum odit pariatur autem, perferendis iste. Consequatur nihil voluptates placeat.


        section.about
            .container
                h2 About course
                .divider.divider--gray
                .about__details
                    .about__video
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/VjnTS7JphVE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    .about__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga eius porro non veniam quo consequuntur, voluptatibus voluptatem minus commodi possimus.
                .about__score Our students rated the course on:


        section.stats
            .container
                .stats__item
                    i
                    h3 6 lessons
                    p Add a description of your offer and key benefits
                .stats__item
                    i
                    h3 80 hours
                    p Add a description of your offer and key benefits
                .stats__item
                    i
                    h3 2 levels
                    p Add a description of your offer and key benefits


        section.teachers
            .container
                h2 Teachers
                .divider.divider--gray
                .teachers__person
                    .teachers__img
                        img(src="./assets/img/asset7.jpeg", alt="")
                    .teachers__description
                        h3 Name, Designer at Company
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui sint vel delectus recusandae ad accusamus ea sed porro dolores deserunt.

                .teachers__person
                    .teachers__description
                        h3 Name, Designer at Company
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui sint vel delectus recusandae ad accusamus ea sed porro dolores deserunt.
                    .teachers__img
                        img(src="./assets/img/asset7.jpeg", alt="")


        section.benefits
            .container
                h3 Benefits
                .benefits__items
                    .benefits__item
                        .benefits__icon
                            i(class="demo-icon icon-chart-area")
                        h4 Benefit 1
                        p Lorem ipsum dolor sit, amet consectetur adipisicing.
                    .benefits__item
                        .benefits__icon
                            i(class="demo-icon icon-soundcloud")
                        h4 Benefit 2
                        p Quae culpa odit obcaecati amet ab veniam!
                    .benefits__item
                        .benefits__icon
                            i(class="demo-icon icon-wechat")
                        h4 Benefit 3
                        p A dolorum, nostrum vero soluta illum minima.
                button.btn.btn--dark Buy access


        section.social
            .container
                h3 Social proof
                .social__testimonials
                .social__testimonial
                    h4 Name, Designer at Company
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae aut consequatur tempora autem nihil esse error nam cupiditate vel? Corporis numquam sint et quisquam, consequatur eaque veniam? Laudantium sunt, blanditiis voluptatibus a nam facere, temporibus animi debitis non magnam veritatis.
                .social__testimonial
                    h4 Name, Designer at Company
                    p Rem libero quam ab aperiam! Voluptatum maiores eaque autem dicta nostrum. Libero amet, commodi officiis illum, soluta aspernatur quidem at minus dolor asperiores odit quo. Deleniti exercitationem iure incidunt, pariatur doloribus mollitia, voluptatum ad neque laborum, vero possimus modi quaerat.
        
        section.summary
            .container
                .summary__details
                    .summary__description
                        h5 Marketing Course
                        h2 CLEAR VALUE FOR YOUR TARGET CUSTOMER
                        p #{locals.tekst}
                    .summary__cost
                        .summary__price 44$
                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam suscipit illo eos ex atque quisquam rerum ipsum quis exercitationem nemo.
                        button.btn.btn--dark Buy access
        
        footer








    script(src="./assets/js/index.js")