doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Course Landing Page
    body
  
  
        header
            .container
                h1 Lorem ipsum dolor sit.
                p Lorem, ipsum dolor:
                ul
                    li Lorem ipsum dolor sit amet.
                    li Nulla exercitationem corporis tempore id?
                    li Sed distinctio ab in mollitia?
                button  Buy Access
                .header__details 
                    span 44$
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora cumque rerum odit pariatur autem, perferendis iste. Consequatur nihil voluptates placeat.


        section.about
            h2 About course
            .about__details
                .about__video
                .about__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga eius porro non veniam quo consequuntur, voluptatibus voluptatem minus commodi possimus.
            .about__score Lorem ipsum dolor sit amet consectetur.


        section.stats
            .container
            .stats__item
                i
                h3 Lorem, ipsum.
                p Lorem ipsum dolor sit amet consectetur.
            .stats__item
                i
                h3 Laborum, accusantium?
                p Labore facilis at inventore voluptatibus unde.
            .stats__item
                i
                h3 Expedita, inventore?
                p Officiis sed vero praesentium nemo odio.


        section.teachers

            .teachers__person
                .teachers__img
                .teachers__description
                    h3 Lorem, ipsum dolor.
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui sint vel delectus recusandae ad accusamus ea sed porro dolores deserunt.

            .teachers__person
                .teachers__img
                .teachers__description
                    h3 Lorem, ipsum dolor.
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui sint vel delectus recusandae ad accusamus ea sed porro dolores deserunt.


        section.benefits
            .container
                h3 Benefits
                .benefits__items
                    .benefits__item
                        i
                        h3 Lorem, ipsum.
                        p Lorem ipsum dolor sit, amet consectetur adipisicing.
                    .benefits__item
                        i
                        h3 Optio, ullam.
                        p Quae culpa odit obcaecati amet ab veniam!
                    .benefits__item
                        i
                        h3 Repellat, quod?
                        p A dolorum, nostrum vero soluta illum minima.

                button Buy access

        section.social
            .container
                h3 Social proof
                .social__testimonials
                .social__testimonial
                    h4 Lorem, ipsum dolor.
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae aut consequatur tempora autem nihil esse error nam cupiditate vel? Corporis numquam sint et quisquam, consequatur eaque veniam? Laudantium sunt, blanditiis voluptatibus a nam facere, temporibus animi debitis non magnam veritatis.
                .social__testimonial
                    h4 Sunt, nobis culpa.
                    p Rem libero quam ab aperiam! Voluptatum maiores eaque autem dicta nostrum. Libero amet, commodi officiis illum, soluta aspernatur quidem at minus dolor asperiores odit quo. Deleniti exercitationem iure incidunt, pariatur doloribus mollitia, voluptatum ad neque laborum, vero possimus modi quaerat.
        
        section.summary
            .container
                .summary__details
                    .summary__description
                        h5 Marketing Course
                        h2 Lorem ipsum dolor sit amet.
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium ipsa esse velit minima at reprehenderit, dolores incidunt autem officia, id ipsum, ullam accusamus?
                    .summary__cost
                        .summary__price 44$
                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam suscipit illo eos ex atque quisquam rerum ipsum quis exercitationem nemo.
                        button Buy access
        
        footer
        







    script(src="./assets/js/index.js")