doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Course Landing Page
    body


        header
            .container
                .header__title
                    img(src="./assets/img/asset.png", alt="")
                    h5 MARKETING COURSE
                    h1 CLEAR VALUE FOR YOUR TARGET CUSTOMER
                    p What you’ll learn:
                    ul
                        li First thing that you’ll learn
                        li Second thing that you’ll learn
                        li Third thing that you’ll learn
                    button.btn.btn--light  Buy Access
                .header__details 
                    span $
                    .header__price 44
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora cumque rerum odit pariatur autem, perferendis iste.


        section.about
            .container
                h2 About course
                .divider.divider--gray
                .about__details
                    .about__video
                    <iframe width="100%" height="415" src="https://www.youtube.com/embed/VjnTS7JphVE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    .about__description Add a description of your offer and key benefits. What it is and how it helps your customer. How will your product strong change your customer's life. How will this help solve the customer's issues in the future.
                .about__score Our students rated the course on:


        section.stats
            .container
                .stats__item
                    img(src="./assets/img/icons8-literature-100.png", alt="")
                    h3 6 lessons
                    p Add a description of your offer and key benefits
                .stats__item
                    img(src="./assets/img/icons8-clock-100.png", alt="")
                    h3 80 hours
                    p Add a description of your offer and key benefits
                .stats__item
                    img(src="./assets/img/icons8-slider-100.png", alt="")
                    h3 2 levels
                    p Add a description of your offer and key benefits


        section.teachers
            .container
                h2 Teachers
                .divider.divider--gray
                .teachers__person
                    .teachers__img
                        img(src="./assets/img/asset7.jpeg", alt="")
                    .teachers__description
                        h3 Name, Designer at Company
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui sint vel delectus recusandae ad accusamus ea sed porro dolores deserunt.

                .teachers__person
                    .teachers__description
                        h3 Name, Designer at Company
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui sint vel delectus recusandae ad accusamus ea sed porro dolores deserunt.
                    .teachers__img
                        img(src="./assets/img/asset7.jpeg", alt="")


        section.benefits
            .container
                h3 Benefits
                .benefits__items
                    .benefits__item
                        .benefits__icon
                            img(src="./assets/img/icons8-line-chart-100.png", alt="")
                        h4 Benefit 1
                        p Lorem ipsum dolor sit, amet consectetur adipisicing.
                    .benefits__item
                        .benefits__icon
                            img(src="./assets/img/icons8-mind-map-100.png", alt="")
                        h4 Benefit 2
                        p Quae culpa odit obcaecati amet ab veniam!
                    .benefits__item
                        .benefits__icon
                            img(src="./assets/img/icons8-pie-chart-100.png", alt="")
                        h4 Benefit 3
                        p A dolorum, nostrum vero soluta illum minima.
                    .benefits__item
                        .benefits__icon
                            img(src="./assets/img/icons8-filter-100.png", alt="")
                        h4 Benefit 3
                        p A dolorum, nostrum vero soluta illum minima.
                button.btn.btn--dark Buy access


        section.social
            .container
                h3 Social proof
                .divider.divider--black
                .social__testimonials
                    .social__testimonial
                        i(class="demo-icon icon-quote")
                        h4 Name, Designer at Company
                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae aut consequatur tempora autem nihil esse error nam cupiditate vel? Corporis numquam sint et quisquam, consequatur eaque veniam? Laudantium sunt, blanditiis voluptatibus a nam facere, temporibus animi debitis non magnam veritatis.
                    .social__testimonial
                        i(class="demo-icon icon-quote")
                        h4 Name, Designer at Company
                        p Rem libero quam ab aperiam! Voluptatum maiores eaque autem dicta nostrum. Libero amet, commodi officiis illum, soluta aspernatur quidem at minus dolor asperiores odit quo. Deleniti exercitationem iure incidunt, pariatur doloribus mollitia, voluptatum ad neque laborum, vero possimus modi quaerat.
            
        section.summary
            .container
                .summary__details
                    .summary__description
                        img(src="./assets/img/asset.png", alt="")
                        h5 Marketing Course
                        h2 CLEAR VALUE FOR YOUR TARGET CUSTOMER
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium ipsa esse velit minima at reprehenderit, dolores incidunt autem officia, id ipsum, ullam accusamus?
                    .summary__cost
                        .summary__price 44$
                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam suscipit illo eos ex atque quisquam rerum ipsum quis exercitationem nemo.
                        button.btn.btn--dark Buy access
        
        footer








    script(src="./assets/js/index.js")