.teachers
    padding: 60px 0
    background-color: #f0f0f0
    background-image: url("../img/Confetti-Doodles.svg")
    background-attachment: fixed

    h2
        text-align: center
        font-size: 4.2rem

    &__person
        font-family: "Lato-Light"
        text-align: center

        img 
            max-width: 100%

            +media-query(tablet) 
                max-width: 200px

        +media-query(tablet) 
            text-align: left
            display: flex


    &__description
        @extend %flex
        flex-direction: column
        justify-content: center


        +media-query(tablet) 
            padding-left: 40px
            padding-right: 40px


        h3 
            font-size: 2.4rem
            font-weight: 300
            color: $gold-yellow
        p 
            font-size: 1.8rem
            line-height: 2.9rem
            color: $dark-gray



